<!DOCTYPE html>
<html>
<head>
  <title>Document Preprocessing</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header class="bg-primary text-white p-4">
    <h1 class="text-center">Information Retrieval System</h1>
  </header>
  
  <div class="container mt-4">
    <h2 class="mb-4">Document Preprocessing</h2>
    
    <form action="{% url 'preprocess_documents' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      
      <div class="form-group">
        <label for="documents">Upload Documents:</label>
        <input type="file" class="form-control-file" id="documents" name="documents" multiple>
      </div>
      
      <button type="submit" class="btn btn-primary">Preprocess</button>
    </form>
    
    {% if processed %}
    <form action="{% url 'create_index' %}" method="post">
      {% csrf_token %}
      
      <div class="form-group">
        <label for="preprocessed_files">Select Preprocessed Files:</label>
        <select class="form-control" id="preprocessed_files" name="preprocessed_files" multiple>
          {% for file_name in preprocessed_files %}
            <option value="{{ file_name }}">{{ file_name }}</option>
          {% endfor %}
        </select>
      </div>
      
      <button type="submit" class="btn btn-primary">Create Index</button>
    </form>
    {% endif %}
    
    <hr>
    
    <h2 class="mb-4">Search</h2>
    
    <form action="{% url 'search_files' %}" method="post">
      {% csrf_token %}
      
      <div class="form-group">
        <label for="search_word">Search Word:</label>
        <input type="text" class="form-control" id="search_word" name="search_word">
      </div>
      
      <div class="form-group">
        <label for="search_method">Search Method:</label>
        <select class="form-control" id="search_method" name="search_method">
          <option value="boolean">Boolean</option>
          <option value="vector_space">Vector Space</option>
          <option value="probabilistic">Probabilistic</option>
        </select>
      </div>
      
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    
    {% if search_results %}
      <h3 class="mt-4">Search Results:</h3>
      <ul>
        {% for result in search_results %}
          <li><a href="{{ result.0 }}">{{ result.0 }}</a> (Similarity Score: {{ result.1 }})</li>
        {% endfor %}
      </ul>
    {% endif %}
    
    {% if message %}
      <div id="message" class="alert alert-success" role="alert">{{ message }}</div>
    {% endif %}
    
  </div>
  
  <footer class="bg-dark text-white p-4 mt-4">
    <p class="text-center">© 2023 Information Retrieval System. All rights reserved.</p>
  </footer>
  
  <!-- Include jQuery before Bootstrap's JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
